{% extends 'staff/base.html' %}
{% load notification %}

{% block title %}Создание нового пароля{% endblock %}

{% block content %}
    {% if validlink %}
        <section class="hero is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                            <p>Пожалуйста, введите (и подтвердите) ваш новый пароль.</p>
                            <form action="" method="post" class="box">
                                {% csrf_token %}
                                <div class="field">
                                    <label for="id_new_password1" class="label">Пароль</label>
                                    <div class="control has-icons-left">
                                        <input type="password" name="new_password1" placeholder="*******" class="input" autocomplete="current-password" required id="id_new_password1">
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    {% if form.new_password1.errors %}
                                        <p class="help is-danger">{{ form.new_password1.errors }}</p>
                                    {% endif %}
                                </div>
                                <div class="field">
                                    <label for="id_new_password2" class="label">Пароль</label>
                                    <div class="control has-icons-left">
                                        <input type="password" name="new_password2" placeholder="*******" class="input" autocomplete="current-password" required id="id_new_password2">
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    {% if form.new_password2.errors %}
                                        <p class="help is-danger">{{ form.new_password2.errors }}</p>
                                    {% endif %}
                                </div>
                                <div class="field">
                                    <input type="submit" class="button is-primary is-fullwidth" value="Изменить пароль" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <section class="section">
            <div class="container">
                <h1 class="title is-1">Не удалось сбросить пароль!</h1>
                <p class="is-size-4 has-text-weight-bold">Ссылка для сброса пароля недействительна, возможно, потому что она уже использовалась. Попробуйте сбросить пароль заново.</p>
            </div>
        </section>
    {% endif %}
{% endblock %}