{% extends 'staff/base.html' %}
{% load notification %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    {% if form.email.errors %}
        {% for error in form.email.errors %}
            {% notification 'danger' error %}
        {% endfor %}
    {% endif %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                        <form action="" method="post" class="box">
                            {% csrf_token %}
                            <div class="field">
                                <label for="id_email" class="label">Почта пользователя</label>
                                <div class="control has-icons-left">
                                    <input type="email" class="input" placeholder="Почта пользователя" name="email" autocomplete="email" maxlength="254" required id="id_email">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                                {% if form.email.errors %}
                                    <p class="help is-danger">{{ form.email.errors }}</p>
                                {% endif %}
                            </div>
                            <div class="field">
                                <input type="submit" class="button is-primary is-fullwidth" value="Сбросить пароль" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}