{% load notification %}
{% load rir_filters %}

<h5 class="title is-5">{{ group }}</h5>
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>№</th>
            <th>Профессиональные компетенции</th>
            <th>Оценка</th>
        </tr>
    </thead>
    <tbody>
    {% for point in points %}
        <tr>
            <td>{{ forloop.counter }}.</td>
            <td>{{ point.competence.name|default:"-" }}</td>
            {% if request.user|has_groups:'HR' or user_is_chief %}
                <td>
                    {% rating_select point %}
                    <button class="button is-primary save-data" data-point="{{ point.id }}">ОК</button>
                </td>
            {% else %}
                 <td>
                    {{ point.get_rating }}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>