<table class="table">
    <thead>
        <tr>
            <th>Развитие ПТЗН/Ценности</th>
            <th>Тип активности</th>
            <th>Наименование</th>
            <th>Объем (ак. ч.)</th>
            <th>Требуется до</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for activity in section_activities %}
            <tr>
                <td>{{ activity.values|default:'-' }}</td>
                <td>{{ activity.get_type }}</td>
                <td>{{ activity.name }}</td>
                <td>{{ activity.hours }}</td>
                <td>{{ activity.required_up_to|default:'-' }}</td>
                <td>{{ activity.get_status }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>