{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    {% if app_label == 'adaptation' %}
        {% if original.pk %}
            <script type="text/javascript">
                const POINT_OBJECT = {
                    pk:  {{ original.pk }},
                    position_type: {{ original.point_type }},
                    positions: {{ positions|safe }},
                    extra_files: {{ extra_files|safe }}
                }
            </script>
        {% endif %}
        <script type="text/javascript" src="{% static 'js/position_list.js' %}"></script>
        <script type="text/javascript">
            function changeUI(type, number) {
                let link = django.jQuery('input#id_extra_files-'+ number +'-link');
                let file_div = django.jQuery('input#id_extra_files-'+ number +'-extra_info_file');
                switch (type) {
                    case "1":
                        link.closest('div.field-link').hide();
                        file_div.closest('div.field-extra_info_file').show();
                        break;
                    case "2":
                        link.closest('div.field-link').show();
                        file_div.closest('div.field-extra_info_file').hide();
                        break;
                    default:
                        link.closest('div.field-link').hide();
                        file_div.closest('div.field-extra_info_file').hide();
                        break;
                }
            }
            (function ($) {
                $(function () {
                    $('div.field-link').hide();
                    $('div.field-extra_info_file').hide();
                });
                $(document).on('change', "select[name^='extra_files']", function () {
                    let extra_info_type = $(this).val();
                    let extra_info_number = $(this).attr('id').split('-')[1];
                    changeUI(extra_info_type, extra_info_number);
                });
            })(django.jQuery)
        </script>
    {% endif %}
{% endblock %}