{% extends 'staff/base.html'%}

{% block title%}Список продуктов{% endblock%}

{% block content%}
    <section class="section">
        <div class="container">
            <h1 class="title is-1">Список продуктов</h1>
            {% include 'messages/messages_list.html' %}
            {% if products %}
                <ul>
                {% for product in products %}
                    <li><a href="{% url 'products:view_product' product.id %}">
                        {{ product.name }}
                    </a></li>
                {% endfor %}
                </ul>
            {% else %}
                Ни одного продукта ещё не добавлено.
            {% endif %}
            {% url 'products:upload_products_list' as upload_url %}
            {% include 'forms/upload_form.html' with upload_url=upload_url input_name='products' button_list_text='Загрузить список продуктов' button_upload_text='Добавить продукты' %}
        </div>
    </section>
{% endblock %}