{% extends 'staff/base.html' %}
{% load rir_filters %}

{% block title %}Список отделов{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title is-1">Список отделов</h1>
            {% if departments %}
                <ul>
                {% for department in departments %}
                    <li><a href="{% url 'staff:person_list' department.id %}">
                        {{ department.name }}
                    </a></li>
                {% endfor %}
                </ul>
                {% if request.user|has_groups:'HR' %}
                    <div class="mt-3">
                        <a href="{% url 'staff:export_all_employees_xlsx' %}" class="button is-primary">Выгрузить матрицу компетенций</a>
                    </div>
                {% endif %}
            {% else %}
                Не добавлено ни одного отдела.
            {% endif %}
            {% if request.user|has_groups:'HR' %}
                {% url 'staff:upload_department_list' as upload_dep_url %}
                {% include 'forms/upload_form.html' with upload_url=upload_dep_url input_name='departments' button_list_text='Загрузить список отделов' button_upload_text='Добавить отделы' %}
                {% url 'staff:upload_positions_list' as upload_position_url %}
                {% include 'forms/upload_form.html' with upload_url=upload_position_url input_name='positions' button_list_text='Загрузить список должностей' button_upload_text='Добавить должности' %}
            {% endif %}
        </div>
    </section>
{% endblock %}