{% extends 'staff/base.html' %}

{% block title %}Детальная информация - {{ person.fio }}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title is-1">{{ person.fio }} - {{ person.current_position }}</h1>
            {% if rows %}
                <h4 class="title is-4">Компетенции сотрудника:</h4>
                 <p>
                    <a href="{% url 'questionnaire:edit_questionnaire' person.questionnaires.first.id %}" class="button is-primary">Редактировать анкету</a>
                </p>
                <table class="table is-fullwidth is-hoverable is-bordered mt-3">
                    <thead>
                        <tr>
                            <th>Компетенция</th>
                            <th>Значение</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category, rows in rows.items %}
                            <tr><td colspan="2" class="has-text-centered is-info"><b>{{ category }}</b></td></tr>
                            {% for row in rows %}
                                <tr>
                                    <td>{{ row.competence.name }}</td>
                                    <td>{{ row.get_human_read_value }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                {% if history %}
                    <h4 class="title is-4">История изменения анкеты:</h4>
                    <table class="table is-fullwidth is-hoverable is-bordered mt-3">
                        <thead>
                            <tr>
                                <th>Компетенция</th>
                                <th>Дата изменения</th>
                                <th>Текущее значение</th>
                                <th>Предыдущее значение</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in history %}
                                <tr>
                                    <td>{{ row.questionnaire_row.competence.name }}</td>
                                    <td>{{ row.date | date:'d.m.Y' }}</td>
                                    <td>{{ row.questionnaire_row.get_human_read_value }}</td>
                                    <td>{{ row.get_human_read_value }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% else %}
                <p>Анкет не добавлено</p>
                <p>
                    <a href="{% url 'staff:person_create_questionnaire' person.tab_number %}" class="button is-primary">Пройти анкетирование</a>
                </p>
                <p class="mt-4">или</p>
                <form enctype="multipart/form-data" method="post" class="mt-4" action="{% url 'staff:person_upload_questionnaire' person.tab_number %}">
                    {% csrf_token %}
                    <div class="field is-grouped">
                        <div class="control">
                            <a class="button is-primary" href="{% url 'staff:person_download_questionnaire' person.tab_number %}">Скачать форму анкеты</a>
                        </div>
                        <div class="control file is-primary">
                            <label class="file-label">
                                <input class="file-input" type="file" name="questionnaire">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Загрузить анкету
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="control">
                            <button class="button is-primary">Обработать анкету</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </section>
{% endblock %}