{% extends 'staff/base.html' %}

{% block title %}Штат сотрудников{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Список сотрудников</h1>
            {% if persons %}
                <ul>
                {% for person in persons %}
                    <li><a href="{% url 'staff:person_detail' person.tab_number %}">
                        {{ person.fio }} - {{ person.current_position }}
                    </a></li>
                {% endfor %}
                </ul>
            {% else %}
                Сотрудников ещё нет
            {% endif %}
        </div>
    </section>
{% endblock %}