{% extends 'staff/base.html' %}
{% load rir_filters %}

{% block title %}{{ department.name }} - сотрудники{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title is-1">{{ department.name }} - список сотрудников</h1>
            {% if persons %}
                <ul>
                {% for person in persons %}
                    <li><a href="{% url 'staff:person_detail' person.tab_number %}">
                        {{ person.fio }} - {{ person.current_position }}
                    </a></li>
                {% endfor %}
                </ul>
            {% else %}
                Сотрудников ещё нет
            {% endif %}
{#            {% if request.user|has_groups:'HR' %}#}
{#                {% url 'staff:upload_persons_list' department.id as upload_url %}#}
{#                {% include 'forms/upload_form.html' with upload_url=upload_url input_name='persons' button_list_text='Загрузить список сотрудников' button_upload_text='Добавить сотрудников' %}#}
{#            {% endif %}#}
        </div>
    </section>
{% endblock %}