{% extends 'staff/base.html' %}

{% block title %}Анкетирование - {{ person.fio }}{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.css">
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title is-1">Анкета</h1>
            <form action="{% url 'questionnaires:create_questionnaire' %}" method="post">
                {% csrf_token %}
                {% for category in categories%}
                    <p><b>{{ category.name }}</b></p>

                    {% for competence in category.competencies.all %}
                        <p></p>
                        <div class="field">
                            <div class="control">
                                <i>{{ competence.name }}</i>:
                                <label class="radio">
                                    <input checked type="radio" value="0" name="question__{{ competence.id }}">
                                    Отсутствие или не актуальна
                                    {% include 'staff/person/helper.html' with level=competence.level_0 %}
                                </label>
                                <label class="radio">
                                    <input type="radio" value="1" name="question__{{ competence.id }}">
                                    Слабо выражена
                                    {% include 'staff/person/helper.html' with level=competence.level_1 %}
                                </label><label class="radio">
                                    <input type="radio" value="2" name="question__{{ competence.id }}">
                                    Среднее
                                    {% include 'staff/person/helper.html' with level=competence.level_2 %}
                                </label><label class="radio">
                                    <input type="radio" value="3" name="question__{{ competence.id }}">
                                    Владение на  проф. уровне
                                    {% include 'staff/person/helper.html' with level=competence.level_3 %}
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                <input type="hidden" name="person" value="{{ person.tab_number }}">
                <input type="submit" value="Отправить анкету" class="button is-primary">
            </form>
        </div>
    </section>
{% endblock %}